<div class="text-right">
  <p><a class="btn btn-sm text-primary">亲，不要担心，我们包邮哦！</a></p>
</div>

<div class="jumbotron">
  <div class="page-header text-success">
    <h2 class="text-center text-success"><strong>Let's Go</strong>&nbsp;&nbsp;购物结算</h2>
    <div class="panel panel-warning"  ng-show="showPaySignal">
      <div class="panel-heading"><h4>没钱赚商品购物清单</h4>
        <div class="row" id="showTime">&nbsp;&nbsp;&nbsp;</div>
      </div>
      <div class="panel-body">
        <div class="row text-danger" >
          <div  class="col-md-2 form-group">种类</div>
          <div  class="col-md-2 form-group">名称</div>
          <div  class="col-md-2 form-group">单价</div>
          <div  class="col-md-2 form-group">数量</div>
          <div  class="col-md-4 form-group">小计(元)</div>
        </div>
      </div>
      <div class="row text-danger" ng-repeat="cartPay in cartPayList">
        <div class="col-md-2 form-group">&nbsp;&nbsp;&nbsp;{{cartPay.item.category}}</div>
        <div class="col-md-2 form-group">{{cartPay.item.name}}</div>
        <div class="col-md-2 form-group">{{(cartPay.item.price).toFixed(2)}}/{{cartPay.item.unit}}</div>
        <div class="col-md-2 form-group">&nbsp;&nbsp;{{cartPay.number}}</div>
        <div class="col-md-4 form-group">{{(cartPay.number *cartPay.item.price).toFixed(2)}}</div>
      </div>
      <div class="row text-info">
        <div id="class" class="col-md-2"><h4>&nbsp;&nbsp;&nbsp;总数：{{totalNumber}}</h4></div>
      </div>
      <div class="row text-info">
        <div id="class" class="col-md-2"><h4>&nbsp;&nbsp;&nbsp;总计：{{total.toFixed(2)}}(元)</h4></div>
      </div>
    </div>
  </div>
  <div class="panel panel-warning"  ng-show="showFinishPaySignal">
    <div class="panel-heading"><h4>没钱赚商品购物清单</h4>
      <div class="row" id="showTime">&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="panel-body">
      <div class="text-center text-danger"><h2>付款成功</h2></div>
    </div>
  </div>

  <div class="text-right">
    <p><a href="#/cartPayList" class="btn btn-primary  btn-lg" role="button" ng-click="payButton()">付款</a></p>
  </div>
  <div class="text-right">
    <p><a href="#/itemsList" class="btn btn-primary  btn-lg" role="button" ng-click="backToItemsList()">返回商城</a></p>
  </div>
</div>


