<div class="container">
  <div class="panel panel-warning">
    <div class="panel-heading text-center"><h3 class="text-info"><strong>Let's Go</strong>&nbsp;&nbsp;商品列表</h3></div>
    <div class="panel-body" id="itemslist">
      <div class="panel panel-warning">
        <div class="panel-body panel-info">
          <div class="row">
            <div class="col-md-2 form-group text-info">种类</div>
            <div class="col-md-2 form-group text-info">名称</div>
            <div class="col-md-2 form-group text-info">单位</div>
            <div class="col-md-2 form-group text-info">单价(元)</div>
            <div class="col-md-4 form-group text-info text-center">加至购物车</div>
          </div>
          <div class="row" ng-repeat="item in items">
            <div class="col-md-2 form-group" ng-show="false">{{item.id}}</div>
            <div class="col-md-2 form-group">{{item.category}}</div>
            <div class="col-md-2 form-group">{{item.name}}</div>
            <div class="col-md-2 form-group">{{(item.unit)}}</div>
            <div class="col-md-2 form-group">{{item.price}}</div>
            <div class="col-md-4 form-group text-center">
              <button type="button" class="btn btn-primary btn-sm" ng-click="addToCartButton(item)">加至购物车</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
